@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');
@font-face {
    font-family: "SF Pro Text";
    src: local("☺"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_ultralight.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_ultralight.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_ultralight.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "SF Pro Text";
    src: local("☺"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_ultralight-italic.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_ultralight-italic.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_ultralight-italic.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "SF Pro Text";
    src: local("☺"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_thin.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_thin.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_thin.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "SF Pro Text";
    src: local("☺"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_thin-italic.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_thin-italic.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_thin-italic.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "SF Pro Text";
    src: local("☺"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_light.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_light.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_light.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "SF Pro Text";
    src: local("☺"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_light-italic.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_light-italic.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_light-italic.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "SF Pro Text";
    src: local("☺"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_regular-italic.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_regular-italic.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_regular-italic.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "SF Pro Text";
    src: local("☺"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_medium.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_medium.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_medium.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "SF Pro Text";
    src: local("☺"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_medium-italic.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_medium-italic.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_medium-italic.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "SF Pro Text";
    src: local("☺"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_semibold.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_semibold.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_semibold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "SF Pro Text";
    src: local("☺"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_semibold-italic.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_semibold-italic.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_semibold-italic.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "SF Pro Text";
    src: local("☺"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_bold.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_bold.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "SF Pro Text";
    src: local("☺"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_bold-italic.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_bold-italic.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_bold-italic.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "SF Pro Text";
    src: local("☺"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_heavy.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_heavy.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_heavy.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "SF Pro Text";
    src: local("☺"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_heavy-italic.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_heavy-italic.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_heavy-italic.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "SF Pro Text";
    src: local("☺"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_black.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_black.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_black.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "SF Pro Text";
    src: local("☺"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_black-italic.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_black-italic.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_black-italic.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "SF Pro Text";
    src: local("☺"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_regular.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_regular.woff") format("woff"), url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_regular.ttf") format("truetype");
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    
}
html{
    font-size: 62.5%;
  
}
body{
  overflow-x: hidden;
    width: 100vw;
    height: 65vh;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
header{
    position: fixed;
     width: 100%;
     padding: 11px;
     display: flex;
     top: 0;
     justify-content: center;
     align-items: center;
     text-align: center;
     background-color: #000000e5;
     backdrop-filter: blur(10px);
 }
 .navbar {
     display: flex;
     gap: 37px;
 }
 
 .navbar a{
     font-family: "Playwrite HU", sans-serif;
     font-size: 12px;
     color: rgba(255, 255, 255, 0.61);
     font-weight: 500;
     transition: 0.3 ease;
     animation: fadeIn 1.5s ease-out;
     text-align: center;
     justify-content: center;
     transition: color 0.5s ease;
     margin-top: 1px;
 }
 .navbar a:hover{
    color: rgb(214, 214, 214);
 }
 .navbar i{
    font-size: 16px;
    color: rgb(180, 180, 180);
    filter: brightness(1);
    transition: filter 0.2s ease;
    
 }
 .navbar i:hover{
    filter: brightness(1.1);
 }
 .nav-apple{
    color: rgb(199, 199, 199);
    font-size: 20px;
    margin-right: 35px;
    margin-bottom: 3px;
    transition: color 0.2s ease;
 }
 .nav-apple:hover{
    color: white;
 }
 .navbar-background{
  background-color: black;
 }
 .iPhone16{
    width: 100%;
    max-width: 3008px;
    margin: 0 auto;
    position: relative;
    height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -2;
    margin-top: 45px;
    background-color: black;
}
.AppleWatch{
  width: 100%;
  max-width: 3008px;
  margin: 0 auto;
  position: relative;
  height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -2;
  margin-top: 15px;
  background-color: black;

}
.iPhone16blue {
  width: 100%;
  max-width: 3008px;
  margin: 0 auto;
  position: relative;
  height: calc(80vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -2;
  margin-top: 13px;
}

.iPhone16, .iPhone16blue img {
    width: 100%;
    height: 100%;
    object-position: center;
}
.AppleWatch, img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.h1-text-16{
    position: absolute;
    top: 12.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 56px;
    letter-spacing: -.002em;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.hello{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 26.5px;
  letter-spacing: -.002em;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.learn-more{
  position: absolute;
  top: 28%;
  left: 48%;
  transform: translate(-50%, -50%);
  z-index: 2;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  font-size: 17px;
  padding: 12px 21px 12px;
  border-radius: 20px;
  letter-spacing: -.002em;
  color: rgb(255, 255, 255);
  background-color: rgb(29, 110, 231);
  font-weight: 400;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.learn-more:hover{
  color: rgb(88, 155, 255);
}
.buy-now{
  background: transparent;
  position: absolute;
  top: 28%;
  left: 54%;
  transform: translate(-50%, -50%);
  z-index: 3;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
  padding: 11px 21px 11px;
  border-radius: 20px;
  color:  rgb(29, 140, 231);
  letter-spacing: -.002em;
  font-weight: 400;
  border: 1px solid rgb(29, 140, 231);
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.learn-more-1{
  position: absolute;
  top: 28%;
  left: 48%;
  transform: translate(-50%, -50%);
  z-index: 2;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  font-size: 17px;
  padding: 12px 21px 12px;
  border-radius: 20px;
  letter-spacing: -.002em;
  color: black;
  background-color: white;
  font-weight: 400;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.learn-more:hover{
  color: rgb(88, 155, 255);
}
.buy-now-1{
  background: transparent;
  position: absolute;
  top: 28%;
  left: 54%;
  transform: translate(-50%, -50%);
  z-index: 3;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
  padding: 11px 21px 11px;
  border-radius: 20px;
  color: white;
  letter-spacing: -.002em;
  font-weight: 400;
  border: 1px solid white;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.AppleWatch .h1-text-16{
  font-size: 50px;
}
.watch-apple-logo{
  position: absolute;
    top: 12%;
    left: 44%;
    transform: translate(-50%, -50%);
    z-index: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    letter-spacing: -.002em;
    color: rgb(255, 255, 255);
}
.h2-text{
  position: absolute;
    top: 20%;
    left: 49.5%;
    transform: translate(-50%, -50%);
    z-index: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    letter-spacing: -.002em;
    color: #f56900;
    font-weight: 600;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.watch-text{
  position: absolute;
  top: 24.5%;
  left: 49.2%;
  transform: translate(-50%, -50%);
  z-index: 2;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 26.5px;
  letter-spacing: -.002em;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.learn-more-watch{
  position: absolute;
  top: 32%;
  left: 47%;
  transform: translate(-50%, -50%);
  z-index: 2;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  font-size: 17px;
  padding: 12px 21px 12px;
  border-radius: 20px;
  letter-spacing: -.002em;
  color: rgb(255, 255, 255);
  background-color: rgb(29, 110, 231);
  font-weight: 400;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.learn-more-watch:hover{
  color: rgb(88, 155, 255);
}
.buy-now-watch{
  background: transparent;
  position: absolute;
  top: 32%;
  left: 53%;
  transform: translate(-50%, -50%);
  z-index: 3;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
  padding: 11px 21px 11px;
  border-radius: 20px;
  color:  rgb(29, 140, 231);
  letter-spacing: -.002em;
  font-weight: 400;
  border: 1px solid rgb(29, 140, 231);
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.WC-text{
color: black;
position: absolute;
  top: 68%;
  left: 49.2%;
  transform: translate(-50%, -50%);
  z-index: 2;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20.5px;
  letter-spacing: -.002em;
  font-weight: 400;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.learn-more-WCD25{
  position: absolute;
  top: 79%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  padding: 10px 15px 10px;
  border-radius: 20px;
  letter-spacing: -.002em;
  color: rgb(255, 255, 255);
  background-color: rgb(29, 110, 231);
  font-weight: 400;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.macbook-text{
  color: black;
  position: absolute;
    top: 20%;
    left: 49.2%;
    transform: translate(-50%, -50%);
    z-index: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20.5px;
    letter-spacing: -.002em;
    font-weight: 400;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  }
  .h1-text-macbook{
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    letter-spacing: -.002em;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.learn-more-macbook{
  position: absolute;
  top: 30%;
  left: 46%;
  transform: translate(-50%, -50%);
  z-index: 2;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  padding: 10px 15px 10px;
  border-radius: 20px;
  letter-spacing: -.002em;
  color: rgb(255, 255, 255);
  background-color: rgb(29, 110, 231);
  font-weight: 400;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.buy-now-macbook{
  background: transparent;
  position: absolute;
  top: 30%;
  left: 56%;
  transform: translate(-50%, -50%);
  z-index: 3;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
  padding: 8px 15px 8px;
  border-radius: 20px;
  color:  rgb(29, 140, 231);
  letter-spacing: -.002em;
  font-weight: 400;
  border: 1px solid rgb(29, 140, 231);
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.multicolor-text{
  background: linear-gradient(90deg, #007aff, #af52de, #ff2d55, #ff9500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* For newer spec */
  color: transparent; /* Fallback */
  position: absolute;
    top: 80%;
    left: 49.2%;
    transform: translate(-50%, -50%);
    z-index: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    letter-spacing: -.002em;
    font-weight: 400;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.section-container {
  display: flex;
  justify-content: center; /* Centers the sections */
  gap: 20px; /* Adds spacing between sections */
  
}

 .Macbook {
  width: 50%; /* Ensures they take up equal space */
  max-width: 1000px;
  position: relative;
  height: calc(100vh - 400px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  z-index: -2;
}
.WCD25{
  width: 50%; /* Ensures they take up equal space */
  max-width: 1000px;
  position: relative;
  height: calc(100vh - 400px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-left: 25px;
  z-index: -2;
}



.WCD25 img, .Macbook img, .AirPods img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}
.Ipad img{
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.section-container-2 {
  display: flex;
  justify-content: center; 
  gap: 20px; 
}
.Ipad{
  width: 55%; 
  max-width: 1000px;
  position: relative;
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -45px;
  margin-left: 25px;
}
.h1-text-ipad{
  position: absolute;
    top: 10%;
    left: 46%;
    transform: translate(-50%, -50%);
    z-index: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    letter-spacing: -.002em;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.learn-more-ipad{
  position: absolute;
  top: 22%;
  left: 46%;
  transform: translate(-50%, -50%);
  z-index: 2;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  padding: 10px 15px 10px;
  border-radius: 20px;
  letter-spacing: -.002em;
  color: rgb(255, 255, 255);
  background-color: rgb(29, 110, 231);
  font-weight: 400;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.buy-now-ipad{
  background: transparent;
  position: absolute;
  top: 22%;
  left: 56%;
  transform: translate(-50%, -50%);
  z-index: 3;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
  padding: 8px 15px 8px;
  border-radius: 20px;
  color:  rgb(29, 140, 231);
  letter-spacing: -.002em;
  font-weight: 400;
  border: 1px solid rgb(29, 140, 231);
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.multicolor-text-2{
  background: linear-gradient(90deg, #007aff, #af52de, #ff2d55, #ff9500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* For newer spec */
  color: transparent; /* Fallback */
  position: absolute;
    top: 62%;
    left: 49.2%;
    transform: translate(-50%, -50%);
    z-index: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    letter-spacing: -.002em;
    font-weight: 400;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.air{
  position: absolute;
    top: 9.9%;
    left: 53.5%;
    transform: translate(-50%, -50%);
    z-index: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    font-family: "San Francisco", "Helvetica Neue", "Arial", sans-serif;
    font-style: italic;
    background: linear-gradient(90deg, #0057b8, #007aff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    text-shadow: 4px 4px 10px rgba(0, 87, 184, 0.3);
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.ipad-text{
  color: black;
  position: absolute;
    top: 17%;
    left: 49.2%;
    transform: translate(-50%, -50%);
    z-index: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20.5px;
    letter-spacing: -.002em;
    font-weight: 400;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.AirPods{
  width: 50%; 
  max-width: 1000px;
  position: relative;
  height: calc(100vh - 400px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -45px;
}
.h1-text-airpods{
  position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    letter-spacing: -.002em;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.learn-more-airpods{
  position: absolute;
  top: 80%;
  left: 46%;
  transform: translate(-50%, -50%);
  z-index: 2;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  padding: 10px 15px 10px;
  border-radius: 20px;
  letter-spacing: -.002em;
  color: rgb(255, 255, 255);
  background-color: rgb(29, 110, 231);
  font-weight: 400;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.buy-now-airpods{
  background: transparent;
  position: absolute;
  top: 80%;
  left: 56%;
  transform: translate(-50%, -50%);
  z-index: 3;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
  padding: 8px 15px 8px;
  border-radius: 20px;
  color:  rgb(29, 140, 231);
  letter-spacing: -.002em;
  font-weight: 400;
  border: 1px solid rgb(29, 140, 231);
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.airpods-text{
  position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    letter-spacing: -.002em;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.footnote-number{
  position: relative;
  vertical-align: baseline;
  font-feature-settings: "numr";
  font-size: 1em;
}